

/* targets all li's with a class of nav-item */
.nav-item {
    
    /* ensures there are no styles applied to .nav-item elements */
    list-style: none;

    /* sets text size */    
    font-size: 15px;

    /* sets text position to the right side of the nav bar */
    float: right;

    /* aligns the text within the right side to a centered position */
    text-align: center;

    /* makes list items display as a block element */
    display: block;

    /* ensures the text has no formatting */
    text-decoration: none;

    /* space between links */
    margin-right: 0;   

     /* adjusts width to auto */
    width: auto;   

    /* sets space around the elements */
    padding: 3px;

    /* sets line spacing */
    line-height: .05px;

    /* creates the border lines in between links */
    border-right: 1px solid #000;

}

/* selects the last list item**/
.nav-item:nth-of-type(3) {

    /* removes the border line from appearing after the last list item */
    border: none;

}

/* selects all nav-item class elements and applies css to the end of each one */
.nav-item:after {

    /* Tells the browser to not let content float on the right of element */
    clear:right;
    
    /* Tells the browser to treat this element as a block level element */
    display:block;
}

/* targets elements with an ID of myName */
#myName {

    /* sets font size */
    font-size: 30px;

    /* sets font color */
    color: black;

}


/* selects all elements */
* {
    /* sets font */
    font-family:'Petit Formal Script', cursive;
}

/* selects elements with the ID cardImage */
#cardImage {

    /* sets height, width and padding settings of the image within the card */
    height: 315px;
    
    width: 275px;

    padding: 20px;

    display: block;
}

/* selects container class elements */
.container {

    /* sets border and border appearance, container width and height, and background color */
    border: 5px solid white;

    border-radius: 15px;

    width: 600px;

    height: 75%;

    background-color: white;

    /* makes the container position relative */
    position: relative;
}

/* selects card class element */
.card {
    
    /* sets card padding */
    padding: 80px;

    /* sets background image to rough cloth texture */
    background-image: url(/users/alyssademetro/documents/ucf/responsive_portfolio/02-css-bootstrap/instructions/assets/images/roughcloth.png)

}

/* targets elements with an ID of AD */
#AD {

    /* sets font size */
    font-size: 50px;
}

/* targets nav ID elements */
#nav {
    
    /* sets border styles */
    border: 5px solid white;

    border-radius: 15px;

    /* sets background image to rough cloth texture */
    background-image: url(/users/alyssademetro/documents/ucf/responsive_portfolio/02-css-bootstrap/instructions/assets/images/roughcloth.png)
}

/* targets footer ID elements */
#footer {

    /* sets border styles */
    border: 5px solid white;
    border-radius: 15px;

    /* Sets the footers position on the page and size to ensure it reacts properly to the re-sizing of the screen */
    position: relative;

    bottom: 0;

    width: 100%;

    height: 125px;

    /* sets the footer background image to rough cloth texture */
    background-image: url(/users/alyssademetro/documents/ucf/responsive_portfolio/02-css-bootstrap/instructions/assets/images/roughcloth.png)
}

/* targets copyright ID element */
#copyRight {

    /* makes the copyright img relative to the browser settings */
   position: relative;

   /* makes the copyright text position 30px from the footer top */
   top: 30px;
}

/* targets card-text class elements */
.card-text {

    /* makes the card text position 15px from container top */
    top: 15px;

    /* sets the font size */
    font-size: 15px;

    position: relative;
}
    
