
/* targets all li's with a class of nav-item */
.nav-item {
    
    /* ensures there are no styles applied to .nav-item elements */
    list-style: none;

    /* sets text size */    
    font-size: 15px;

    /* sets text position to the right side of the nav bar */
    float: right;

    /* aligns the text within the right side to a centered position */
    text-align: center;

    /* makes list items display as a block element */
    display: block;

    /* ensures the text has no formatting */
    text-decoration: none;

    /* space between links */
    margin-right: 0;   

     /* adjusts width to auto */
    width: auto;   

    /* sets space around the elements */
    padding: 3px;

    /* sets line spacing */
    line-height: .05px;

    /* creates the border lines in between links */
    border-right: 1px solid #000;

}

/* selects the last list item**/
.nav-item:nth-of-type(3) {

    /* removes the border line from appearing after the last list item */
    border: none;

}

/* selects all nav-item class elements and applies css to the end of each one */
.nav-item:after {

    /* Tells the browser to not let content float on the right of element */
    clear:right;
    
    /* Tells the browser to treat this element as a block level element */
    display:block;
}

/**float clearing**/

.nav-item:after {

     content: '';

     clear:right;

     display:block;

}


/* targets elements with an ID of myName */
#myName {

    /* sets font size */
    font-size: 30px;

    /* sets font color */
    color: black;

}


/* selects all elements */
* {
    /* sets font */
    font-family:'Petit Formal Script', cursive;
}


/* selects container class elements */
.container {
    
    /* sets border and border appearance, container width and height, and background color */
    border: 5px solid white;

    border-radius: 15px;


    background-color: white;

    width: 700px;

}

/* selects card class element */
.card {
    
  

    /* sets background image to rough cloth texture */
    background-image: url(02-CSS-Bootstrap/instructions/Assets/Images/roughcloth.png)

}

/* targets nav ID elements */
#nav {
    
    /* sets border styles */
    border: 5px solid white;

    border-radius: 15px;

    /* sets background image to rough cloth texture */
    background-image: url(02-CSS-Bootstrap/instructions/Assets/Images/roughcloth.png)
}

/* targets footer ID elements */
#footer {

    padding: 25px;
    border: 5px solid white;
    border-radius: 15px;



    height: 130px;

    /* sets the footer background image to rough cloth texture */
    background-image: url(02-CSS-Bootstrap/instructions/Assets/Images/roughcloth.png)
}

/* targets copyright ID element */
#copyRight {



   /* makes the copyright text position 30px from the footer top */
   top: 10px;
}

/* targets the portIMG class elements */
.portIMG {

    /* sets border styles */
    border: 5px solid white;
    border-radius: 15px;

    /* edit's element's background and text colors and size */
    background-color: white;

    color: black;

    font-size: 20px;

    /* sets the element's positioning settings */
    width: 290px;

    height: 45px;

    text-align: center;

  

}

/* targets the horiseon page image element */
#horiseon {

    /* sets positioning settings */

    text-align: center;
    height: 200px;
    width: 290px;
   

}

#peckish {
    /* sets positioning settings */
    
    height: 200px;
    width: 290px;
    
}

#burgerBuilder {
   
    height: 200px;
    width: 290px;
   
}

#growth {
    height: 200px;
    width: 290px;
}

#teamBuilder {
    height: 200px;
    width: 290px;
}

#scheduler {
    height: 200px;
    width: 290px;
}


.ulburger {
    



      /* sets border styles */
      border: 5px solid white;
      border-radius: 15px;
  
      /* edit's element's background and text colors and size */
      background-color: white;
  
      font-size: 20px;
  
      /* sets the element's positioning settings */
      width: 290px;
  
      height: 45px;
  
      text-align: center;
  
      padding: 5px;
  
     
}


